@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
* {
  font-family: Roboto, sans-serif;
}
.card-shadow:hover {
  box-shadow: 12px 24px 55px rgba(63, 72, 81, 0.144);
}

body {
  width: 100%;
   overflow-x: hidden;
}