.icon-outline {
  padding: auto 12px;
  height: 40px;
  width: 40px;
  border: 2px solid #fff;
}

.footer-link-background {
  background-color: #4f4e4b;
}
.footer-background {
  background-color: #4f4e4b;
}
